@charset "UTF-8";
body {
  background-color: rgb(253, 223, 232);
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: rgb(255, 246, 215);
  border: 10px double rgb(255, 252, 234);
  padding: 40px;
}
 
header {
  padding: 40px;
  height: 80px;
}
 
nav {
  padding: 8px 40px;
  background-color: rgb(255, 237, 173);
  color: white;
  border-radius: 10px;
}
 
main {
  padding: 40px;
  height : 400px;
}
 
footer {
  padding: 40px;
  height: 40px;
  background-color : rgb(255, 237, 173);
  color: white;
}
.circle img {
  border-radius: 50%;
  width: 300px;
}